{% extends "work/base.html" %}
{% block content %}
<!--{% load crispy_forms_tags %}-->
<main class="container mt-3 pb-5">
    <div class="row mt-5">
      <div class="col-12 col-lg-4">
        <aside class="pt-3 pb-4 px-4 mb-5 card">
          <h1 class="h4 pt-2 pb-2">Моя компания</h1>
          <div class="nav flex-column nav-pills">
            <a class="nav-link" href="{% url 'comp_edit' %}">1. Информация о&nbsp;компании</a>
            <a class="nav-link active" href="{% url 'comp_vac' %}">2. Вакансии</a>
          </div>
        </aside>
      </div>
      <div class="col-12 col-lg-8">
        <div class="card">
          <div class="card-body px-4 pb-4 tab-content">
            <!-- Tab -->
            <section>
              <h2 class="h4 pt-2 pb-3">Создание/изменение вакансии</h2>
              <form enctype="multipart/form-data" method="post">
                <!--{% crispy form "bootstrap3" %}-->
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form-group">
                  <input type="submit" class="btn btn-info" value="Сохранить">
                </div>
              </form>
              <!-- END Vacancy info -->
              <!-- Applications -->
              {% if count_resp != None %}
                <h2 class="h4 pt-2 pb-3">Отклики - {{ count_resp }}</h2>
              {% endif %}
              <!-- Application 1 -->
              {% for resp in responses %}
              <div class="card mt-3">
                <div class="card-body px-4">
                  <p class="mb-1 font-weight-bold">{{ resp.written_username }}</p>
                  <p class="mb-2"><a href="tel:{{ resp.written_phone }}" class="text-dark">{{ resp.written_phone }}</a></p>
                  <p class="mb-1">{{ resp.written_cover_letter }}</p>
                </div>
              </div>
              {% endfor %}
              <!-- END Application 1 -->

            </section>
            <!-- END Tab -->
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}